<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- HSQLDB -->
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:kstore</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property> 
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">false</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hbm2ddl.auto">create-drop</property>
        
        <mapping resource="com/kstore/entity/customer/Customer.hbm.xml"/>
        <mapping resource="com/kstore/entity/bids/Bid.hbm.xml"/>
        <mapping resource="com/kstore/entity/category/Category.hbm.xml"/>
        <mapping resource="com/kstore/entity/charges/Bill.hbm.xml"/>
        <mapping resource="com/kstore/entity/charges/Charge.hbm.xml"/>
        <mapping resource="com/kstore/entity/item/Item.hbm.xml"/>
        <mapping resource="com/kstore/entity/site/Language.hbm.xml"/>
        <mapping resource="com/kstore/entity/site/Site.hbm.xml"/>
    </session-factory>
    
    
</hibernate-configuration>
